@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    caret-color: transparent;
  }
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs
    tracking-widest transition-all hover:border-night-mode-yellow/40 hover:text-night-mode-yellow/40
  }
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
    text-gray-500 placeholder-gray-500 transition-all focus:border-night-mode-yellow/40 
    focus:text-night-mode-yellow/40 hover:border-night-mode-yellow/40 caret-current
  }

  .min-height {
    min-height: 800px
  }
  
  .scroll {
    @apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-night-mode-yellow
  }

  /* Scroll styles for day mode */
  .scrollbar-day {
    @apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-day-mode-yellow/80
  }

  /* Scroll styles for night mode */
  .scrollbar-night {
    @apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-night-mode-yellow/80
  }

  /* Global scrollbar styles */
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #F7AB0A #374151;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(55, 65, 81, 0.2);
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #F7AB0A;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #CA8C05;
  }

  /* Componentes reutilizáveis */
  .card-base {
    @apply flex flex-col rounded-lg items-center space-y-7 flex-shrink-0 select-none snap-center p-10 hover:opacity-100 opacity-40 transition-opacity duration-200;
  }

  .card-mobile {
    @apply mobileMd:space-y-2 mobileMd:max-h-[600px] mobileMd:pt-1 mobileSm:space-y-1 mobileSm:max-h-[500px] mobileSm:pt-0 mobileMd:p-0 mobileSm:p-0;
  }

  .title-base {
    @apply absolute text-center uppercase tracking-[20px] text-2xl;
  }

  .title-mobile {
    @apply mobileMd:text-xl mobileMd:tracking-[15px] mobileSm:text-lg mobileSm:tracking-[10px];
  }

  .image-base {
    @apply rounded-full object-cover filter group-hover:grayscale transition duration-300 ease-in-out caret-transparent;
  }

  .image-sizes {
    @apply w-24 h-24 md:w-28 md:h-28 xl:w-32 xl:h-32;
  }

  .image-mobile {
    @apply mobileMd:w-14 mobileMd:h-14 mobileSm:w-12 mobileSm:h-12;
  }
}